{% extends 'Project_Management/base.html' %}

{% block content %}
    <div class="project">
        {% if task.date_assigned %}
            <div class="date">Assigned Date: {{ task.date_assigned }}</div>
            <div class="date">Assigned to: {{ task.developer }}</div>
        {% endif %}
        <h2>{{ task.title }}</h2>
        </br>
        <p>Task Description:</p>
        <p>{{ task.description |linebreaksbr }}</p>
        <p>
            {% if is_manager == False %}
                {% if task.is_finished == False %}
                    <a href='{% url 'task_finish' pk=task.pk %}'>Finish</a>
                {% elif task.is_finished == True %}
                    <a href='{% url 'task_finish' pk=task.pk %}'>Undo</a>
                {% endif %}
            {% endif %}
        </p>
        </br>
    </div>
{% endblock %}