{% extends 'Project_Management/base.html' %}

{% block content %}
    <div class="project">
        {% if project.date_created %}
            <div class="date">Created Date: {{ project.date_created }}</div>
        {% endif %}
        <h2>{{ project.title }}</h2>
        </br>
        <p>Project Description:</p>
        <p>{{ project.description |linebreaksbr }}</p>
        </br>
        <p>Progress:</p>
        <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" style="width: {{ progress }}%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
        </div>
    </div>
    <div class="tasks">
        <h1>Tasks</h1>
        {% for task in tasks %}
            <div class="task">
                <h2>&#9737;<a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}