{% load static %}
<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Page</title>
    <link rel="stylesheet" href="{% static 'css/project_list.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
    <h1>Projects</h1>
    {% for project in projects %}
        <h3><a href="">{{ project.title }}</a></h3>
        <h5>Created date: {{ project.date_created}}</h5>
        </br>
    {% endfor %}
</body>
</html>